.project-teams{
    font-family: 'Jost', sans-serif;
}

.team-name {
  font-size: 200%;
}

@media (min-width: 425px) {
  .team-name {
    font-size: 300%;
  }
}
@media (min-width: 768px) {
  .team-name {
    font-size: 400%;
  }
}
.person-row div {
    background-color: #00415A;
    border-radius: 25%;
}
.person-card-title{
    white-space: nowrap;
    text-decoration: underline;
}
.vert-icon{
    color: #ffffff;
    transition: all 0.3s ease;
    justify-content: center;
}
.vert-icon:hover{
    color: #00b8ff;
    font-size: 120%;
}