.badge{
    background-color:#5178D0;
    font-size: 100%;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.STEP {
    overflow-x: hidden;
}
p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    width: 100%;
}
svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
}