.carousel-caption {
    margin-bottom:20%;
    margin-bottom: 20%;
    background: rgba(0,0,0,0.6);
    padding: 50px 100px;
}

.carousel-caption h5{
    font-size:60px;
    text-transform:uppercase;
}

.carousel-caption p{
    font-size:20px;
}